body {
  margin: 0; }

.header-pesquisa {
  background-image: url("../img/banner-pesquisa-mascara.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative; }
  .header-pesquisa:before {
    position: absolute;
    top: 100%;
    right: 0;
    height: 41%;
    z-index: 0;
    width: 200%;
    background-color: white;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(11deg);
    transform: rotate(11deg);
    content: ''; }
  @media (max-width: 767.98px) and (orientation: portrait) {
    .header-pesquisa {
      height: 60vh; 
      } 
    }

  @media (max-width: 767.98px) and (orientation: landscape) {
  .header-pesquisa {
    height: 100vh; 
    } 
  }  

.div-buscar {
  position: absolute;
  top: 35%;
  width: 100%; 
}
@media (max-width: 767.98px) {
.div-buscar {
    top: 50%; } 
  }

.campo-buscar {
  width: 65% !important;
  margin: 0 auto;
  display: block !important;
  border-radius: 50px !important;
  border: 2px solid #FEA32E !important;
  color: #FEA32E !important;
  background: transparent;
  background-color: unset !important;
  font-size: 20px !important;
  font-weight: normal !important;
  padding: 10px 30px !important;
  background-image: url(../img/busca.png);
  background-repeat: no-repeat !important;
  background-position: right center !important;
  background-origin: content-box;
  outline: none !important; }
  
  @media (max-width: 767.98px) {
  .campo-buscar {
    width: 75% !important; } }


.campo-buscar::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #FEA32E; }

.campo-buscar::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #FEA32E; }

.campo-buscar:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #FEA32E; }

.campo-buscar:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #FEA32E; }

.resultado-pesquisa {
  position: relative;
  margin-top: -50px;
  margin-bottom: 8em !important; }
  .resultado-pesquisa a {
    color: #212529; }
    .resultado-pesquisa a:hover {
      color: #212529;
      text-decoration: unset; }
  .resultado-pesquisa .resultado-artigo {
    margin: 30px 0; }
    .resultado-pesquisa .resultado-artigo h5 {
      font-family: "Dosis", sans-serif;
      font-weight: 700; }
    .resultado-pesquisa .resultado-artigo .postado {
      font-size: 11px; }
  .resultado-pesquisa h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    line-height: 1.42857em;
    padding-bottom: 5px;
    font-size: 26px;
    line-height: 1.2em; }
  @media (min-width: 768px) {
    .resultado-pesquisa .col-sm-6:nth-child(1) {
      border-right: 3px solid #FEA32E;
      padding-right: 60px;
      padding-left: 0; } }
  @media (min-width: 768px) {
    .resultado-pesquisa .col-sm-6:last-child {
      padding-left: 60px; } }
  .resultado-pesquisa span {
    color: #FEA32E; }
  .resultado-pesquisa .botao-proximo {
    background-color: #FEA32E;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
    border-radius: 50px;
    color: white;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    width: 35%;
    float: right;
    margin: 35px 0;
    cursor: pointer; }
    @media (max-width: 767.98px) {
      .resultado-pesquisa .botao-proximo {
        width: 60%;
        margin: 0px 0 50px; } }
  .resultado-pesquisa .pesquisa-relacionada {
    width: 100%;
    margin-bottom: 50px; }
    .resultado-pesquisa .pesquisa-relacionada .resultado-seg {
      color: #212529;
      text-align: right;
      font-size: 18px;
      font-weight: 700; }
      @media (max-width: 767.98px) {
        .resultado-pesquisa .pesquisa-relacionada .resultado-seg {
          text-align: left; } }
    .resultado-pesquisa .pesquisa-relacionada h4 {
      font-family: "Dosis", sans-serif;
      font-weight: 700;
      line-height: 1.42857em;
      padding-bottom: 5px; }
      .resultado-pesquisa .pesquisa-relacionada h4 img {
        padding-left: 15px; }
    .resultado-pesquisa .pesquisa-relacionada p {
      color: #FEA32E;
      font-style: italic;
      font-size: 14px;
      width: 100%;
      margin-bottom: 5px; }
    .resultado-pesquisa .pesquisa-relacionada span {
      font-weight: 700; }
    @media (max-width: 767.98px) {
      .resultado-pesquisa .pesquisa-relacionada {
        margin: 0 0px 30px; } }
  @media (max-width: 575.98px) {
    .resultado-pesquisa {
      margin-top: 0px; } }

.triangulo {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-right: 100px solid transparent; }